{% extends "base.html" %}
{% load i18n %}
{% load settings_value %}
{% load myfi_filters %}
{% block title %}{% settings_value "APP_DISPLAY_NAME" %} {% trans 'Password Reset' %}{% endblock %}
{% block content %}

<div class="center-block">
	<h2>{% trans 'Password Reset' %}</h2>
	<form method="post" action="." role="form">
		{% csrf_token %}
		<div class="form-group">
			{% if not form.this_is_the_login_form.errors %}{{ form.email.errors }}{% endif %}
			<label for="id_email" class="required">{{ form.email.label }}:</label>
			{{ form.email|add_bootstrap_behavior:form.email.label }}
		</div>

		<input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
	</form>
</div>
{% endblock %}
